<div class="datafield center borders">
	<div class="divcenter">
		<h2> CONTROL DEL VIVERO </h2>
		<%= form_for :parametros, :url => {:action => :return_control} do |f|%>

		<% if @sistema %>
		<%= f.hidden_field :numero_serie,:value => @sistema.numero_serie %>

		<h3>Funcionamiento</h3>
		<div class="field">
			<%= f.label :funcionamiento %>
			<%= f.select :modo, ["auto","manual"], :selected => @cultivo.funcionamiento %>
			<br />
		</div>
		
		<h3>Sistemas</h3>
		<div class="field">

			<%= f.label "Luz encendida: " %>
			<%= f.check_box :luz %>
			<br />
		</div>
		<div class="field">

			<%= f.label "Temperatura activa: " %>
			<%= f.check_box :temperatura %>
			<br />
		</div>
		<div class="field">

			<%= f.label "Riego activo (s): " %>
			<%= f.select :riego, (0..@pulsos*10).step(10) %>
			<br />
		</div>
		
		<h3>Parámetros del cultivo</h3>
		<div class="field">
			<%= f.label :fotoperiodo %>
			<br />
			<%= f.number_field :fotoperiodo, :value => @cultivo.fotoperiodo %>
		</div>
		<div class="field">
			<%= f.label :luz_limite %>
			<br />
			<%= f.number_field :luz_limite, :value => @cultivo.luz_limite  %>
		</div>
		<div class="field">
			<%= f.label :temperatura_minima %>
			<br />
			<%= f.number_field :temperatura_minima, :value => @cultivo.temperatura_minima  %>
		</div>
		<div class="field">
			<%= f.label :temperatura_maxima %>
			<br />
			<%= f.number_field :temperatura_maxima, :value => @cultivo.temperatura_maxima  %>
		</div>
		<div class="field">
			<%= f.label :maximos_pulsos_riego %>
			<br />
			<%= f.number_field :maximos_pulsos_riego, :value => @cultivo.maximos_pulsos_riego  %>
		</div>
		<div class="field">
			<%= f.label :humedad_minima %>
			<br />
			<%= f.number_field :humedad_minima, :value => @cultivo.humedad_minima  %>
		</div>
		<div class="field">
			<%= f.label :humedad_maxima %>
			<br />
			<%= f.number_field :humedad_maxima, :value => @cultivo.humedad_maxima %>
		</div>

		<!--
		<div class="field">
		<%= f.label :ph_maximo %>
		<br />
		<%= f.number_field :ph_maximo, :value => @cultivo.ph_maximo  %>
		</div>
		<div class="field">
		<%= f.label :ph_minimo %>
		<br />
		<%= f.number_field :ph_minimo, :value => @cultivo.ph_minimo %>
		</div>
		-->

		<%= f.submit "Enviar", class: "btn btn-success"%>
		<% else %>
		No tiene permisos sobre el sistema.
		<% end%>
		<br/>
		<br/>
		<%= link_to 'Atrás', '/control/principal' %>
		<% end %>

	</div>
</div>