<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Ventana de administración</h1>
			<h2>Sistemas
			<%= link_to "+", {controller: "sensor_viveros", action: 'new'}, :class => 'btn btn-primary' %> </h2>
			<div class="tabledeco">
				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="5">Sistemas registrados</th>
						</tr>
						<tr>
							<th >Nombre</th>
							<th>Luz</th>
							<th>Riego</th>
							<th>Ventilacion</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<% @sistemas.each do |s| %>
							<% if s.cultivo != nil %>

								<tr >
									<td> <%= s.nombre%> </td>
									<% if s.luz_encendida.eql?(true) %>
									<td class="td-center">on</td>
									<% else %>
									<td class="td-center">off</td>
									<% end %>
									<% if s.riego_activo.eql?(true) %>
									<td class="td-center">on</td>
									<% else %>
									<td class="td-center">off</td>
									<% end %>
									<% if s.ventilacion_encendida.eql?(true) %>
									<td class="td-center">on</td>
									<% else %>
									<td class="td-center">off</td>
									<% end %>
									<td class="td-oper"><% if current_user.role != 'Supervisor' %> <%= link_to image_tag("edit.png",:alt => "Administrar",:title => "Administrar"), :action =>:control, :sistema_id => s.id %> <%end%></td>
								</tr>
							<% else %>
								<tr >
									<td> <%= s.nombre%> </td>
									<td class="td-center">-</td>
									<td class="td-center">-</td>
									<td class="td-center">-</td>
									<td class="td-oper">-</td>
								</tr>
							<%end%>
						<% end %>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>
