<div class="datafield center borders">
	<div class="divcenter">
		<h2>Resumen de la gestión </h2>
		<h4>Recuerde que los cambios no serán efectivos </h4>
		<h4>hasta que el sistema confirme la actualización</h4>
		<p>
			Modo: <%= @modo %>
		</p>
		<p>
			Luz Activa: <%= @luz %>
		</p>
		<p>
			Temperatura Activa: <%= @temperatura %>
		</p>
		<p>
			Riego activo (s): <%= @riego %>
		</p>
		<p>
			Fotoperiodo: <%= @fotoperiodo %>
		</p>
		<p>
			Luz límite: <%= @luz_limite %>
		</p>
		<p>
			Temperatura mínima: <%= @temp_minima  %>
		</p>
		<p>
			Temperatura máxima: <%= @temp_maxima  %>
		</p>
		<p>
			Pulsos de riego máximos: <%= @max_pulsos_riego  %>
		</p>
		<p>
			Humedad mínima: <%= @humedad_minima %>
		</p>
		<p>
			Humedad máxima: <%= @humedad_maxima %>
		</p>
		<br/>
		<br/>
		<%= link_to 'Atrás', '/control/principal' %>
	</div>
</div>