<%= form_for :desasociar_sv_user, :url=>{ :controller => :desasociar_sv_users, :action => :update} do |f| %>

<div class="field">
	<%= f.label :sistema_vivero %>
	<br />
	<%= f.select :sistema_vivero_id, @sistemas_viveros %>
</div>

<div class="field">
	<%= f.label :email_del_usuario %>
	<br />
	<%= f.text_field :user_mail %>
</div>

<div class="actions">

	<%= f.submit "Revocar permisos", class: "btn btn-success" %>
</div>

<% end %>
