<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Revocar permisos de usuario sobre sistemas viveros</h1>
			<% if @sistemas_viveros.count > 0 %>
			<%= render 'form' %>
			<%else%>
			No tiene ningún sistema registrado.
			<br/>
			<%end%>

			<br />
			<%= link_to 'Atrás', sensor_viveros_path %>
		</div>
	</div>
</div>
