<%= form_for :asociar_vivero, :url=>{ :controller => :asociar_viveros, :action => :update} do |f| %>

<div class="field">
	<%= f.label :vivero %>
	<br />
	<%= f.select :vivero_id, @viveros %>
</div>

<div class="field">
	<%= f.label :email_del_usuario %>
	<br />
	<%= f.email_field :user_mail, :placeholder => "Email del usuario"%>
</div>

<div class="actions">

	<%= f.submit "Asociar", class: "btn btn-success" %>
</div>
<% end %>
