<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Asociar usuarios a viveros</h1>
			<% if @viveros.count > 0 %>
			<%= render 'form' %>
			<%else %>
			No hay viveros disponibles.
			<br/>
			<%end%>

			<br />
			<%= link_to 'Atrás', viveros_path %>
		</div>
	</div>
</div>
