<br />
<div id="signupedit" class="datafield registrationWidth center borders">
	<div class="page-header">
		<h2>Editar Usuario</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>

	<div class="userdata">
		<%= f.label :correo_electrónico %>
		<%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
	</div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div class="userdata">
		Esperando confirmación para: <%= resource.unconfirmed_email %>
	</div>
	<% end %>

	<div class="userdata">
		<%= f.label :contraseña %> <i>(Déjela en blanco si no desea cambiarla)</i>
		<%= f.password_field :password, :autocomplete => "off", :placeholder => "Contraseña"  %>
	</div>

	<div class="userdata">
		<%= f.label :confirme_la_contraseña %>
		<%= f.password_field :password_confirmation, :placeholder => "Repita contraseña" %>
	</div>

	<div class="userdata">
		<%= f.label :contraseña_actual %> <i>(Necesaria para confirmar los cambios)</i>
		<%= f.password_field :current_password %>
	</div>

	<div class="right">
		<%= f.submit "Actualizar cambios", class: "btn btn-warning" %>
	</div>

	<% end %>
	<br />
	<h3>Cancelar cuenta</h3>

	<p>
		<%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, class: "btn btn-danger right"%>
	</p>
	<br />
	<br />
	<%= link_to "Atrás", :back %>

</div>
