<br />
<div id="signup" class="datafield registrationWidth center borders">
	<div class="page-header">
		<h2>Regístrese</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div class="userdata">
		<%= f.label :correo_electrónico %>
		<%= f.email_field :email, :autofocus => true, :placeholder => "Email"%>
	</div>

	<div class="userdata">
		<%= f.label :contraseña %>
		<%= f.password_field :password, :placeholder => "Contraseña"%>
	</div>

	<div class="userdata">
		<%= f.label :confirmar_contraseña %>
		<%= f.password_field :password_confirmation, :placeholder => "Repita su contraseña" %>
	</div>

	<div class="userdata">
		<%= f.label :tipo_de_usuario %>
		<%= f.select :role, User::SHOWED_ROLES, {}, {:disabled => true}%>
	</div>

	<div class="right">
		<%= f.submit "Registrarse", class: "btn btn-warning" %>
	</div>
	<% end %>
	<br/>
	<br/>
	<%= render "devise/shared/links" %>
</div>

