<%= form_for(@sensor_vivero) do |f| %>
<% if @sensor_vivero.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@sensor_vivero.errors.count, "error") %> impiden el guardado:</h2>

	<ul>
		<% @sensor_vivero.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :numero_serie, 'Número de serie:' %>
	<br />
	<%= f.text_field :numero_serie %>
</div>
<div class="field">
	<%= f.label :nombre %>
	<br />
	<%= f.text_field :nombre %>
</div>
<div class="field">
	<%= f.label :descripcion, 'Descripción' %>
	<br />
	<%= f.text_area :descripcion, :rows => 4, maxlength: 250 %>
</div>

<% if current_user.role == 'admin' %>
<!--
<div class="field">
<%= f.label :ip, 'IP' %>
<br />
<%= f.text_field :ip %>
</div>
-->
<%end%>

<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success" %>
</div>
<% end %>
