<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Editar sensor_vivero</h1>

			<%= render 'form' %>

			
			<%= link_to 'Atrás', sensor_viveros_path %>
		</div>
	</div>
</div>