<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<div class="tabledeco">

				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="10">Sistemas SensorVivero Adquiridos</th>
						</tr>
						<tr>
							<th>Numero serie</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>IP</th>
							<th>Cultivo</th>
							<th>Estado confirmado</th>
							<th>Luz</th>
							<th>Riego</th>
							<th>Temperatura</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<% @sensor_viveros.each do |sensor_vivero| %>
						<tr>
							<td class="td-center"><%= sensor_vivero.numero_serie %></td>
							<td><%= sensor_vivero.nombre %></td>
							<td><%= sensor_vivero.descripcion %></td>
							<td class="td-center"><%= sensor_vivero.ip %></td>
							<td><% if sensor_vivero.cultivo %><%= sensor_vivero.cultivo.nombre %><% end %></td>
							<td class="td-center"><% if sensor_vivero.estado_actualizado %>SI<% else%>NO<%end%></td>
							<td class="td-center"><% if sensor_vivero.luz_encendida %>ON<% else%> OFF<%end%></td>
							<td class="td-center"><% if sensor_vivero.riego_activo %>ON<% else%> OFF<%end%></td>
							<td class="td-center"><% if sensor_vivero.ventilacion_encendida %>ON<% else%> OFF<%end%></td>
							<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), sensor_vivero %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_sensor_vivero_path(sensor_vivero) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), sensor_vivero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br />
			<div>
				<%= button_to 'Nuevo', new_sensor_vivero_path,
				:class => "btn btn-primary", :style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Asociar sistema', asociar_cultivos_path,
				:class => "btn btn-warning",:style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Liberar sistema', desasociar_cultivos_path,
				:class => "btn btn-danger",:style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Dar permiso a usuario', asociar_sv_users_path,
				:class => "btn btn-warning",:style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Revocar permiso de usuario', desasociar_sv_users_path,
				:class => "btn btn-danger",:style => "float: left; margin-right: 10px;", :method => :get %>
			</div>
		</div>
	</div>

</div>
