<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Nuevo sensor vivero</h1>

			<%= render 'form' %>

			<% if current_user.role == 'admin' %>
			<%= link_to 'Atrás', sensor_viveros_path %>
			<%end%>
		</div>
	</div>
</div>