<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Numero serie:</b>
				<%= @sensor_vivero.numero_serie %>
			</p>

			<p>
				<b>Nombre:</b>
				<%= @sensor_vivero.nombre %>
			</p>

			<p>
				<b>Descripcion:</b>
				<%= @sensor_vivero.descripcion %>
			</p>

			<p>
				<b>Ip:</b>
				<%= @sensor_vivero.ip %>
			</p>

			<p>
				<b>Luz encendida:</b>
				<%= @sensor_vivero.luz_encendida %>
			</p>

			<p>
				<b>Riego activo:</b>
				<%= @sensor_vivero.riego_activo %>
			</p>

			<p>
				<b>Ventilacion encendida:</b>
				<%= @sensor_vivero.ventilacion_encendida %>
			</p>

			<%= button_to 'Editar', edit_sensor_vivero_path(@sensor_vivero) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', sensor_viveros_path %>

		</div>
	</div>
</div>