<%= form_for(@cultivo) do |f| %>
<% if @cultivo.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@cultivo.errors.count, "error") %> prohibited this cultivo from being saved:</h2>

	<ul>
		<% @cultivo.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :nombre %>
	<br />
	<%= f.text_field :nombre %>
</div>
<div class="field">
	<%= f.label :vivero_id %>
	<br />
	<% if @cultivo.vivero %>
		<%= f.select :vivero_id, @viveros, :selected => @cultivo.vivero.id %>
   <% else %>
   		<%= f.select :vivero_id, @viveros %>
   <% end %>
</div>

<div class="field">
	<%= f.label :cosecha %>
	<br />
	<%= f.text_field :cosecha %>
</div>

<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>
<% end %>
