<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Editar cultivo</h1>

			<%= render 'form' %>

			
			<%= link_to 'Atrás', cultivos_path %>

		</div>
	</div>
</div>