<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">

			<div class="tabledeco">

				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="22">Listado de cultivos</th>
						</tr>

						<tr>
							<th>Nombre</th>
							<th>Cosecha</th>
							<th>Func.</th>

							<th>Humedad</th>
							<th>Humedad Min</th>
							<th>Humedad Max</th>

							<th>Pulsos riego acumulados</th>
							<th>Duracion pulso riego</th>
							<th>Pulsos Riego Max</th>

							<th>Fotoperiodo</th>
							<th>Luz</th>
							<th>Luz acumulada</th>
							<th>Luz limite</th>

							<th>Temp.</th>
							<th>Temp. Min</th>
							<th>Temp. Max</th>

							<th>PH</th>
							<th>PH Min</th>
							<th>PH Max</th>

							<th>Co2</th>
							<th>Co2 Max</th>

							<th class="width100">Operaciones</th>
						</tr>
					</thead>

					<% @cultivos.each do |cultivo| %>
					<tr>
						<td><%= cultivo.nombre %></td>
						<td class="td-center"><%= cultivo.cosecha %></td>
						<td class="td-center"><%= cultivo.funcionamiento %></td>

						<td class="td-center"><%= cultivo.humedad_actual %></td>
						<td class="td-center"><%= cultivo.humedad_minima %></td>
						<td class="td-center"><%= cultivo.humedad_maxima %></td>

						<td class="td-center"><%= cultivo.pulsos_riego_acumulados %></td>
						<td class="td-center"><%= cultivo.duracion_pulso_riego %> </td>
						<td class="td-center"><%= cultivo.maximos_pulsos_riego %></td>

						<td class="td-center"><%= cultivo.fotoperiodo %></td>
						<td class="td-center"><%= cultivo.luz_actual %></td>
						<td class="td-center"><%= cultivo.luz_acumulada %></td>
						<td class="td-center"><%= cultivo.luz_limite %></td>

						<td class="td-center"><%= cultivo.temperatura_actual %></td>
						<td class="td-center"><%= cultivo.temperatura_minima %></td>
						<td class="td-center"><%= cultivo.temperatura_maxima %></td>

						<td class="td-center"><%= cultivo.ph_actual %></td>
						<td class="td-center"><%= cultivo.ph_minimo %></td>
						<td class="td-center"><%= cultivo.ph_maximo %></td>

						<td class="td-center"><%= cultivo.co2_actual %></td>
						<td class="td-center"><%= cultivo.co2_maximo %></td>

						<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), cultivo %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_cultivo_path(cultivo) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), cultivo, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
					</tr>
					<% end %>
				</table>
			</div>
			<br />
			<%= button_to 'Nuevo', new_cultivo_path,
			:class => "btn btn-primary", :method => :get %>
		</div>
	</div>
</div>
