<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Co2 actual:</b>
				<%= @cultivo.co2_actual %>
			</p>

			<p>
				<b>Co2 maximo:</b>
				<%= @cultivo.co2_maximo %>
			</p>

			<p>
				<b>Cosecha:</b>
				<%= @cultivo.cosecha %>
			</p>

			<p>
				<b>Fotoperiodo:</b>
				<%= @cultivo.fotoperiodo %>
			</p>

			<p>
				<b>Funcionamiento:</b>
				<%= @cultivo.funcionamiento %>
			</p>

			<p>
				<b>Humedad actual:</b>
				<%= @cultivo.humedad_actual %>
			</p>

			<p>
				<b>Humedad maxima:</b>
				<%= @cultivo.humedad_maxima %>
			</p>

			<p>
				<b>Humedad minima:</b>
				<%= @cultivo.humedad_minima %>
			</p>

			<p>
				<b>Luz actual:</b>
				<%= @cultivo.luz_actual %>
			</p>

			<p>
				<b>Luz acumulada:</b>
				<%= @cultivo.luz_acumulada %>
			</p>

			<p>
				<b>Luz limite:</b>
				<%= @cultivo.luz_limite %>
			</p>

			<p>
				<b>Maximos pulsos riego:</b>
				<%= @cultivo.maximos_pulsos_riego %>
			</p>

			<p>
				<b>Nombre:</b>
				<%= @cultivo.nombre %>
			</p>

			<p>
				<b>Ph actual:</b>
				<%= @cultivo.ph_actual %>
			</p>

			<p>
				<b>Ph maximo:</b>
				<%= @cultivo.ph_maximo %>
			</p>

			<p>
				<b>Ph minimo:</b>
				<%= @cultivo.ph_minimo %>
			</p>

			<p>
				<b>Pulsos riego acumulados:</b>
				<%= @cultivo.pulsos_riego_acumulados %>
			</p>

			<p>
				<b>Temperatura actual:</b>
				<%= @cultivo.temperatura_actual %>
			</p>

			<p>
				<b>Temperatura maxima:</b>
				<%= @cultivo.temperatura_maxima %>
			</p>

			<p>
				<b>Temperatura minima:</b>
				<%= @cultivo.temperatura_minima %>
			</p>

			<p>
				<b>Duracion pulso riego:</b>
				<%= @cultivo.duracion_pulso_riego %>
			</p>

			<%= button_to 'Editar', edit_cultivo_path(@cultivo) , :class => "btn btn-warning", :method => :get%>
			<%= link_to 'Atrás', cultivos_path %>
		</div>
	</div>
</div>
