<%= form_for(@reporte) do |f| %>
<% if @reporte.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

	<ul>
		<% @reporte.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :comentario %>
	<br />
	<%= f.text_field :comentario %>
</div>
<div class="field">
	<%= f.label :fecha %>
	<br />
	<%= f.datetime_select :fecha %>
</div>
<div class="field">
	<%= f.check_box :leido %>
	<%= f.label :leido %>
</div>
<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>
<% end %>
