<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<div class="tabledeco">

				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="4">Listado de reportes</th>
						</tr>
						<tr>
							<th>Comentario</th>
							<th>Fecha</th>
							<th>Leido</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<% @reportes.each do |reporte| %>
						<tr>
							<td><%= reporte.comentario %></td>
							<td class="td-center"><%= reporte.fecha.strftime("%d/%m/%Y %H:%M:%S") %></td>
							<td class="td-center"><%= reporte.leido %></td>
							<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), reporte %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_reporte_path(reporte) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br />

			<%= button_to 'Nuevo', new_reporte_path,
			:class => "btn btn-primary", :method => :get %>

		</div>
	</div>
</div>
