<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Nuevo reporte</h1>

			<%= render 'form' %>

			<%= link_to 'Atrás', reportes_path %>
		</div>
	</div>
</div>