<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Comentario:</b>
				<%= @reporte.comentario %>
			</p>

			<p>
				<b>Fecha:</b>
				<%= @reporte.fecha.strftime("%d/%m/%Y %H:%M:%S") %>
			</p>

			<p>
				<b>Leido:</b>
				<%= @reporte.leido %>
			</p>

			<%= button_to 'Editar', edit_reporte_path(@reporte) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', reportes_path %>
		</div>
	</div>
</div>