<br />
<div id="resetpass" class="datafield registrationWidth center borders">
	<div class="page-header">
		<h2>¿Olvidó su contraseña?</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= devise_error_messages! %>

	<div class="userdata">
		<%= f.label :correo_electrónico %>
		<%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
	</div>

	<div class="right">
		<%= f.submit "Restablecer contraseña", class: "btn btn-info" %>
	</div>
	<% end %>
	<br/>
	<br/>
	<%= render "devise/shared/links" %>
</div>

