<%= form_for :desasociar_vivero, :url=>{ :controller => :desasociar_viveros, :action => :update} do |f| %>
<div class="field">
	<%= f.label :vivero %>
	<br />
	<%= f.select :vivero_id, @viveros %>
</div>
<div class="field">
	<%= f.label :email_del_usuario %>
	<br />
	<%= f.text_field :user_mail %>
</div>

<div class="actions">

	<%= f.submit "Desasociar", class: "btn btn-success" %>
</div>

<% end %>
