<%= form_for :desasociar, :url=>{ :controller => :desasociar_cultivos, :action => :update} do |f| %>
<div class="field">
	<%= f.label :sensor_vivero %>
	<br />
	<%= f.select :sensor_vivero_id, @sensor_viveros %>
</div>

<div class="actions">

	<%= f.submit "Liberar", class: "btn btn-success",data: { confirm: '¿Está seguro?' } %>
</div>
<% end %>
