<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Liberar sistema</h1>
			<% if @sensor_viveros.count > 0 %>
			<%= render 'form' %>
			<%else%>
			Ningún sistema vivero está siendo usado.
			<br/>
			<%end%>

			<br />
			<%= link_to 'Atrás', sensor_viveros_path %>
		</div>
	</div>
</div>
