<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Dar permisos a usuarios sobre sistemas viveros</h1>
			<% if @sistemas_viveros.count > 0 %>
			<%= render 'form' %>
			<%else %>
			No hay sistemas disponibles.
			<br/>
			<%end%>

			<br />
			<%= link_to 'Atrás', sensor_viveros_path %>
		</div>
	</div>
</div>
