<br />
<div id="signin" class="datafield registrationWidth center borders">
	<div class="page-header">
		<h2>Conéctese</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="userdata">
		<%= f.label :correo_electrónico %>
		<%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
	</div>

	<div class="userdata">
		<%= f.label :contraseña %>
		<%= f.password_field :password, :placeholder => "Contraseña" %>
	</div>

	<% if devise_mapping.rememberable? -%>
	<div>
		<span> 
			<%= f.check_box :remember_me %>
			<%= f.label :no_cerrar_sesión %> 
		</span>
	</div>
	<% end -%>

	<div class="right">
		<%= f.submit "Conectar", class: "btn btn-primary" %>
	</div>
	<% end %>
	<br/>
	<br/>
	<%= render "devise/shared/links" %>
</div>

