<%= form_for(@sensor) do |f| %>
<% if @sensor.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

	<ul>
		<% @sensor.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :tipo %>
	<br />
	<%= f.text_field :tipo %>
</div>

<div class="field">
	<%= f.label :sensor_vivero %>
	<br />
	<%= f.select :sensor_vivero_id, @sensor_viveros %>
</div>

<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>
<% end %>
