<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Editar sensor</h1>

			<%= render 'form' %>

			
			<%= link_to 'Atrás', sensors_path %>
		</div>
	</div>
</div>