<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<div class="tabledeco">

				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="3">Listado de sensores</th>
						</tr>
						<tr>
							<th>Tipo</th>
							<th>Sistema</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>
					<tbody>

						<% @sensors.each do |sensor| %>
						<tr>
							<td><%= sensor.tipo %></td>
							<td><%= sensor.sensor_vivero.nombre %></td>
							<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), sensor %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_sensor_path(sensor) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br />

			<%= button_to 'Nuevo', new_sensor_path,
			:class => "btn btn-primary", :method => :get %>
		</div>
	</div>
</div>
