<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Tipo:</b>
				<%= @sensor.tipo %>
			</p>

			<%= button_to 'Editar', edit_sensor_path(@sensor) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', sensors_path %>
		</div>
	</div>
</div>