<%= form_for(@medida) do |f| %>
<% if @medida.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@medida.errors.count, "error") %> prohibited this medida from being saved:</h2>

	<ul>
		<% @medida.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :temperatura %>
	<br />
	<%= f.number_field :temperatura %>
</div>
<div class="field">
	<%= f.label :luminosidad %>
	<br />
	<%= f.number_field :luminosidad %>
</div>
<div class="field">
	<%= f.label :humedad %>
	<br />
	<%= f.number_field :humedad %>
</div>
<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>
<% end %>
