<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<div class="tabledeco">
				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="5">Listado de medidas</th>
						</tr>
						<tr>
							<th>Temperatura</th>
							<th>Luminosidad</th>
							<th>Humedad</th>
							<th>Fecha</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>

					<tbody>

						<% @medidas.each do |medida| %>

						<tr>
							<td class="td-center"><%= medida.temperatura %></td>
							<td class="td-center"><%= medida.luminosidad %></td>
							<td class="td-center"><%= medida.humedad %></td>
							<td class="td-center"><%= medida.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></td>

							<td class="td-oper"> <%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), medida %>
							<%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_medida_path(medida) %>
							<%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), medida, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br/>
			<%= button_to 'Nuevo', new_medida_path,
			:class => "btn btn-primary", :method => :get %>

		</div>
	</div>
</div>
