<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Temperatura:</b>
				<%= @medida.temperatura %>
			</p>

			<p>
				<b>Luminosidad:</b>
				<%= @medida.luminosidad %>
			</p>

			<p>
				<b>Humedad:</b>
				<%= @medida.humedad %>
			</p>

			<p>
				<b>Fecha:</b>
				<%= @medida.updated_at.strftime("%d/%m/%Y %H:%M:%S") %>
			</p>

			<%= button_to 'Editar', edit_medida_path(@medida) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', medidas_path %>
		</div>
	</div>
</div>