<%= form_for(@vivero) do |f| %>
<% if @vivero.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@vivero.errors.count, "error") %> impiden el guardado:</h2>

	<ul>
		<% @vivero.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<div class="field">
	<%= f.label :nombre %>
	<br />
	<%= f.text_field :nombre %>
</div>
<div class="field">
	<%= f.label :descripcion, 'Descripción' %>
	<br />
	<%= f.text_area :descripcion, :rows => 4, maxlength: 250 %>
</div>

<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success" %>
</div>
<% end %>
