<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<div class="tabledeco">
				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="3">Viveros</th>
						</tr>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th class="width150">Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<% @viveros.each do |vivero| %>
						<tr>
							<td><%= vivero.nombre %></td>
							<td><%= vivero.descripcion %></td>
							<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), vivero %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_vivero_path(vivero) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), vivero, method: :delete, data: { confirm: 'Se eliminarán todos los cultivos de este vivero y se desasociarán de los sistemas en uso. ¿Está seguro?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br />
			<div style="min-width:38em">
				<%= button_to 'Nuevo', new_vivero_path,
				:class => "btn btn-primary", :style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Alta de Usuario en Vivero', asociar_viveros_path,
				:class => "btn btn-warning",:style => "float: left; margin-right: 10px;", :method => :get %>

				<%= button_to 'Baja de Usuario en Vivero', desasociar_viveros_path,
				:class => "btn btn-danger",:style => "float: left; margin-right: 10px;", :method => :get %>

			</div>
		</div>
	</div>

</div>
