<div class="datafield center borders">
	<% if params[:notice] %>
	<p class="notice" style="color: #FF0000" >
		<%= params[:notice] %>
	</p>
	<% end %>
	<div class="scroll">
		<div class="divcenter">
			<h1>Nuevo vivero</h1>

			<%= render 'form' %>

			<%= link_to 'Atrás', viveros_path %>

		</div>
	</div>
</div>