<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>
			<p>
				<b>Nombre:</b>
				<%= @vivero.nombre %>
			</p>

			<p>
				<b>Descripcion:</b>
				<%= @vivero.descripcion %>
			</p>

			<%= button_to 'Editar', edit_vivero_path(@vivero) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', viveros_path %>

		</div>
	</div>
</div>