<%= form_for :asociar, :url=>{ :controller => :asociar_cultivos, :action => :update} do |f| %>

<div class="field">
	<%= f.label :sensor_vivero %>
	<br />
	<%= f.select :sensor_vivero_id, @sensor_viveros %>
</div>

<div class="field">
	<%= f.label :cultivo %>
	<br />
	<%= f.select :cultivo_id, grouped_options_for_select(@cultivos) %>
</div>

<div class="actions">

	<%= f.submit "Asociar", class: "btn btn-success" %>
</div>
<% end %>
