<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<h1>Asociar cultivo del sistema</h1>
			<% if @sensor_viveros.count > 0 and @cultivos.count > 0%>
			<%= render 'form' %>
			<%elsif @sensor_viveros.count > 0 and @cultivos.count <= 0%>
			No hay cultivos disponibles.
			<br/>
			<%else %>
			No hay sistemas vivero disponibles.
			<br/>
			<%end%>

			<br />
			<%= link_to 'Atrás', sensor_viveros_path %>
		</div>
	</div>
</div>
