/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url('background_green.jpg');
	background-color: #cccccc;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cuerpo {
	margin: 5px;
	color: white;
}

.footer {
	margin: 5px;
	color: white;
}

.navbar {
	border-bottom: solid;
	border-width: 1px;
	border-color: green;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: rgba(255,255,255,0.9);
	color: black;
	height: 40px;
}

.dropdown-menu {
	width: 100%;
}

.nav-img {

}

