body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

label{
  display: inline;
  vertical-align: middle;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000000;
  &:visited {
    color: #000000;
  }
  &:hover {
    color: #00FF00;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
  background-color: #298A08 !important;
  background-image: linear-gradient(to bottom, #298A08, #21610B) !important;
} 

.btn:focus{
  outline: 0 none !important;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
  outline: 0 none !important;
}

.btn-primary {
  background-color: #258A08 !important;
  background-image: linear-gradient(to bottom, #298A08, #21610B) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
  background-color: #21610B !important;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.right{
  float: right;
}

.center{
  margin:auto;
}

.h-center{
  margin:auto;
  text-align: center;
  vertical-align: center;
}

.registrationWidth{
  width: 315px;
}

.width100{
  width: 100px;
}

.width150{
  width: 150px;
}

.borders{
  border: solid;
  border-width: 1px;
  border-color: green;
  padding: 20px;
  border-radius: 7px;
}

.datafield{
  background-color:rgba(255,255,255,0.9);
  color: black;
}

.userdata input{
  width:300px;
}

.userdata select{
   width:315px;
}

.field input{
  width:100%;
}

.field textarea{
  width:100%;
}

.field select{
   width:100%;
}

.scroll{
  width: 100%;
  overflow-x: auto;
}

.divcenter{
  display: table;
  margin: auto;
}

.tabledeco{
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px; 
  border-color: #21610B;
}

.table td {
  border-top: 1px solid;
  border-top-color: #21610B;
  border-right: 1px solid;
  border-right-color: #21610B;
}

.table .td-oper{
  border-right: none;
  text-align: center;
}

.table .td-center{
  text-align: center;
}

.table .tablehead th{
  padding: 7px;
  margin:auto;
  vertical-align: middle !important;
  padding: 10px 15px;
  font-size: 22px;
  color: #ffffff;
  background-color: #21610B;
  border-bottom: 3px solid;
  border-color: #21610B;
}

.table th{
  color: #ffffff;
  background-color: rgba(33,97,11,0.8);
  text-align: center;
  vertical-align: middle !important;
}

.table{
  margin-bottom: 0;
  overflow-x: auto;
}

.table, .table th, .table td{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.table > tbody > tr:hover {
  background-color:rgba(33,97,11,0.5);
}
