<%= form_for(@estadistica) do |f| %>
<% if @estadistica.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@estadistica.errors.count, "error") %> prohibited this estadistica from being saved:</h2>

	<ul>
		<% @estadistica.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :cultivo %>
	<br />
	<%= f.select :cultivo_id, grouped_options_for_select(@cultivos), :selected => @cultivo_selected %>
</div>

<div class="field">
	<%= f.label :descripcion %>
	<br />
	<%= f.text_field :descripcion %>
</div>
<div class="actions">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>
<% end %>
