<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<div class="tabledeco">
				<table class="table">
					<thead>
						<tr class="tablehead">
							<th colspan="2">Listado de estadísticas</th>
						</tr>
						<tr>
							<th>Descripcion</th>
							<th class="width100">Operaciones</th>
						</tr>
					</thead>

					<tbody>
						<% @estadisticas.each do |estadistica| %>
						<tr>
							<td><%= estadistica.descripcion %></td>
							<td class="td-oper"><%= link_to image_tag("show.png",:alt => "Mostrar",:title => "Mostrar"), estadistica %><%= link_to image_tag("edit.png",:alt => "Editar",:title => "Editar"), edit_estadistica_path(estadistica) %><%= link_to image_tag("delete.png",:alt => "Eliminar",:title => "Eliminar"), estadistica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br />
			<%= button_to 'Nuevo', new_estadistica_path,
			:class => "btn btn-primary", :method => :get %>
		</div>
	</div>
</div>
