<div class="datafield center borders">
	<div class="scroll">
		<div class="divcenter">
			<p id="notice">
				<%= notice %>
			</p>

			<p>
				<b>Descripcion:</b>
				<%= @estadistica.descripcion %>
			</p>

			<%= button_to 'Editar', edit_estadistica_path(@estadistica) , :class => "btn btn-warning", :method => :get%> 
			<%= link_to 'Atrás', estadisticas_path %>
		</div>
	</div>
</div>