<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

<div class="datafield center borders">

<% @cultivo_medidas.each do |nombre, medidas|%> 

<h2><%= nombre %></h2>
<% puts "NOMBREEEEEE "+ nombre + "  medidas "+medidas.to_s%>
<%= line_chart [
  {name: "Temperatura", data: medidas.map{|medida| [medida.created_at, medida.temperatura] }},

  ] , :library => {:colors => ["red"]}%>

<%= line_chart [
  {name: "Humedad", data: medidas.map{|medida| [medida.created_at, medida.humedad] }},
  
  ] %>

  <%= line_chart [
  {name: "Luminosidad", data: medidas.map{|medida| [medida.created_at, medida.luminosidad] }},
  
  ], :library => {:colors => ["yellow"]} %>


<%end%>
</div>