<%= link_to image_tag("sensorvivero.png", :class => 'nav-img'),root_path, :class => 'pull-left nav'%>

<ul class="pull-right nav">
	<% if user_signed_in? %>
	<li>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-file"></i> Administración <span class="caret"></span> </a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to '/control/principal' do %>
					<i class="icon-tag"></i> Control
					<% end %>
					<%= link_to sensor_viveros_path do %>
					<i class="icon-tag"></i> SensoresVivero
					<% end %>
					<%= link_to sensors_path do %>
					<i class="icon-tag"></i> Sensores
					<% end %>
					<%= link_to viveros_path do %>
					<i class="icon-tag"></i> Viveros
					<% end %>
					<%= link_to cultivos_path do %>
					<i class="icon-tag"></i> Cultivos
					<% end %>
					<%= link_to estadisticas_path do %>
					<i class="icon-tag"></i> Estadisticas
					<% end %>
					<%= link_to medidas_path do %>
					<i class="icon-tag"></i> Medidas
					<% end %>
					<%= link_to reportes_path do %>
					<i class="icon-tag"></i> Reportes
					<% end %>
					<%= link_to analisis_path do %>
					<i class="icon-tag"></i> Análisis
					<% end %>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> <%= current_user.email %> <span class="caret"></span> </a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to edit_user_registration_path do %>
					<i class="icon-pencil"></i> Editar cuenta
					<% end %>
				</li>
				<li>
					<%= link_to destroy_user_session_path, :method=>'delete' do %>
					<i class="icon-off"></i> Cerrar sesión
					<% end %>
				</li>
			</ul>
		</div>
	</li>
	<%else%>
	<li class='start_session'>
		<%= link_to('Iniciar sesión', new_user_session_path)  %>
	</li>
	<%end%>
	  <li><a href="/ManualUsuario/index.html" target="_blank"><i class="icon-question-sign"></i> Ayuda</a></li>

</ul>

