<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SistemaVivero</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link href="/app/assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar navbar-static-top" >
			<nav>
				<%= render 'layouts/navigation' %>
			</nav>
		</div>
		<div class="cuerpo">
			<%= yield %>
		</div>

		<div class="footer">
			<p style="float: right;">
				<a href="http://www.w3.org/html/logo/"> <img
				src="http://www.w3.org/html/logo/badge/html5-badge-h-css3.png"
				width="133" height="64" alt="HTML5 Powered with CSS3 / Styling" title="HTML5 Powered with CSS3 / Styling" /></a>

				<a href="http://validator.w3.org/check?uri=referer"><img
				src="http://www.w3.org/Icons/valid-html401.png"
				alt="Valid HTML!" height="31" width="88" /></a>

				<a href="http://validator.w3.org/check?uri=referer"><img
				src="http://www.w3.org/Icons/valid-css2.png"
				alt="Valid CSS!" height="31" width="88" /></a>
			</p>
		</div>

	</body>
</html>
